@import "./variables";

// .text {
// font-family:;
// }

.display-lg {
    font-size: 48px;
    line-height: 60px;
}

.display-lg-semi-bold {
    @extend .display-lg;
    font-weight: $f-semibold;
}

.display-md {
    font-size: 36px;
    line-height: 44px;
}

.display-md-semi-bold {
    @extend .display-md;
    font-weight: $f-semibold;
}

.display-xs {
    font-size: 24px;
    line-height: 32px;
}

.display-xs-semi-bold {
    @extend .display-xs;
    font-weight: $f-semibold;
}

.text-xl {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.text-xl-regular {
    @extend .text-xl;
    font-weight: $f-normal;
}

.text-md {
    font-size: 16px;
    line-height: 24px;
}

.text-md-semi-bold {
    @extend .text-md;
    font-weight: $f-semibold;
}

.text-md-regular {
    @extend .text-md;
    font-weight: $f-normal;
}

.text-lg {
    line-height: 28px;
    font-size: 18px;
    color: $button-primary-fg;
    text-align: center;
}

.text-lg-semi-bold {
    @extend .text-lg;
    font-weight: $f-semibold;
}

.text-sm {
    font-size: 14px;
    line-height: 20px;
}

.text-sm-regular {
    @extend .text-sm;
    font-weight: $f-normal;
}

.text-sm-semi-bold {
    @extend .text-sm;
    font-weight: $f-semibold;
}
