@import "./variables";

// .text {
// font-family:;
// }

.display-lg {
    line-height: 60px;
    font-size: 48px;
}

.display-lg-semi-bold {
    @extend .display-lg;
    font-weight: $f-semibold;
}

.text-xl {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.text-xl-regular {
    @extend .text-xl;
    font-weight: $f-normal;
}

.text-md {
    font-size: 14px;
    line-height: 20px;
    color: $button-primary-fg;
    text-align: center;
}

.text-md-semi-bold {
    @extend .text-md;
    font-weight: $f-semibold;
}

.text-lg {
    line-height: 28px;
    font-size: 18px;
    color: $button-primary-fg;
    text-align: center;
}

.text-lg-semi-bold {
    @extend .text-lg;
    font-weight: $f-semibold;
}
