// primary-color
$primary-color-50: #f9f5ff !default;
$primary-color-100: #f4ebff !default;
$primary-color-200: #e9d7fe !default;
$primary-color-300: #d6bbfb !default;
$primary-color-400: #b692f6 !default;
$primary-color-500: #9e77ed !default;
$primary-color-600: #7f56d9 !default;
$primary-color-700: #6941c6 !default;
$primary-color-800: #53389e !default;
$primary-color-900: #42307d !default;

$button-primary-fg: #fff;
// $button-secondary-color-fg: $primary-color-700;
$button-secondary-color-bg: #fff;

// text-primary
$text-primary-50: #f9fafb;
$text-primary-100: #f2f4f7;
$text-primary-200: #eaecf0;
$text-primary-300: #d0d5dd;
$text-primary-400: #98a2b3;
$text-primary-500: #667085;
$text-primary-600: #475467;
$text-primary-700: #344054;
$text-primary-900: #101828;

$bg-primary: #fff;
$bg-secondary: $text-primary-50;

// border-radius
$rounded: 8px;

// font-weight
$f-thin: 100;
$f-extra-light: 200;
$f-light: 300;
$f-normal: 400;
$f-medium: 500;
$f-semibold: 600;
$f-bold: 700;

// breakpoints
$breakpoints: (
    "sm": 640px,
    "md": 768px,
    "lg": 1024px,
    "xl": 1280px,
    phone: 478px,
    tablet: 991px,
    desktop: 1339px,
);
